#root {
  max-width: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

body, .body, .list {
  background: linear-gradient(#FAF5FF, #494f57);
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  align-items: center;
  /* border: 1px solid red; */
	font-family: 'Libre Baskerville', serif;
	padding: 1.2em;
}

/** Form **/

.search-bar {

	color: #8A61DE;
}

.search-bar::placeholder {
	color: #8A61DE;
}

.submit-btn {
	color: #8A61DE;
	background: transparent;
	border: none;
	margin-top: 1em;
}

.submit-btn:focus, .submit-btn:active {
	outline: none !important;
	color: #8A61DE;
	background: transparent;
	border: none;
}

/** CurrentWeatherList **/

.list-item {
	background: transparent;
  display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.column {
	display: flex;
	flex-direction: column;
}

.condition-icon {
	width: 3.6em;
}

/** ForecastList **/

.forecast-container {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.forecast-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.min-max {
	display: flex;
	flex-direction: column;
}

.min-max-text {
	font-size: 0.7em;
}